<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Ws0KYSjxNXXgRh8jRBGZgrXqgNHzWbI&callback=initMap"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>
    <script type="text/javascript" src="https://jawj.github.com/OverlappingMarkerSpiderfier/bin/oms.min.js"></script>
</head>

<body>
<div id="map" style="width:100%; height:100%"></div>
</body>
</html>
<script type="text/javascript">
    var options = {
        center: new google.maps.LatLng(47.90296, 1.90925),
        zoom: 6,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map"), options);

    var oms = new OverlappingMarkerSpiderfier(map);

    function getCities() {
        return [
            ['01110 - HAUTEVILLE-LOMPNES',45.966667,5.6],
            ['01110 - HOSTIAZ',45.9,5.533333],
            ['01250 - HAUTECOURT-ROMANECHE',46.158333,5.416667],
            ['01260 - HOTONNES',46,5.683333],
            ['02100 - HARLY',49.833333,3.316667],
            ['02120 - HAUTEVILLE',49.866667,3.516667],
            ['02140 - HARCIGNY',49.8,3.983333],
            ['02140 - HARY',49.783333,3.933333],
            ['02140 - HAUTION',49.85,3.833333],
            ['02140 - HOURY',49.783333,3.85],
            ['02210 - HARTENNES-ET-TAUX',49.266667,3.35],
            ['02250 - HOUSSET',49.783333,3.7],
            ['02440 - HINACOURT',49.733333,3.283333],
            ['02480 - HAPPENCOURT',49.783333,3.183333],
            ['02500 - HIRSON',49.916667,4.083333],
            ['02510 - HANNAPES',49.966667,3.616667],
            ['02600 - HARAMONT',49.283333,3.05],
            ['02720 - HOMBLIERES',49.85,3.366667],
            ['02760 - HOLNON',49.866667,3.216667],
            ['02810 - HAUTEVESNES',49.116667,3.233333],
            ['03190 - HERISSON',46.516667,2.716667],
            ['03270 - HAUTERIVE',46.083333,3.45],
            ['03380 - HURIEL',46.366667,2.483333],
            ['03600 - HYDS',46.283333,2.833333],
            ['08090 - HAM-LES-MOINES',49.8,4.6],
            ['08090 - HAUDRECY',49.783333,4.616667],
            ['08090 - HOULDIZY',49.816667,4.666667],
            ['08150 - HARCY',49.833333,4.566667],
            ['08160 - HANNOGNE-ST-MARTIN',49.666667,4.833333],
            ['08170 - HARGNIES',50.016667,4.783333],
            ['08220 - HANNOGNE-ST-REMY',49.6,4.133333],
            ['08260 - HAVYS',49.8,4.4],
            ['08290 - HANNAPPES',49.816667,4.216667],
            ['08310 - HAUVINE',49.3,4.4],
            ['08320 - HIERGES',50.1,4.74115],
            ['08360 - HERPY-L ARLESIENNE',49.516667,4.216667],
            ['08370 - HERBEUVAL',49.6,5.333333],
            ['08430 - HAGNICOURT',49.616667,4.566667],
            ['08450 - HARAUCOURT',49.616667,4.966667],
            ['08600 - HAM-SUR-MEUSE',50.116667,4.783333],
            ['08800 - HAULME',49.866667,4.783333],
            ['10500 - HAMPIGNY',48.45,4.6],
            ['10700 - HERBISSE',48.616667,4.116667],
            ['11200 - HOMPS',43.266667,2.716667],
            ['11240 - HOUNOUX',43.116667,2],
            ['12460 - HUPARLAC',44.7,2.783333],
            ['14100 - HERMIVAL-LES-VAUX',49.166667,0.283333],
            ['14140 - HEURTEVENT',48.983333,0.133333],
            ['14170 - HIEVILLE',49.016667,-0.016667],
            ['14200 - HEROUVILLE-ST-CLAIR',49.2,-0.316667],
            ['14201 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14202 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14203 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14204 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14205 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14206 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14207 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14208 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14209 - HEROUVILLE-ST-CLAIR-CEDEX',49.2,-0.316667],
            ['14220 - HAMARS',49,-0.55],
            ['14250 - HOTTOT-LES-BAGUES',49.15,-0.65],
            ['14430 - HOTOT-EN-AUGE',49.166667,-0.05],
            ['14510 - HOULGATE',49.3,-0.066667],
            ['14520 - HUPPAIN',49.35,-0.766667],
            ['14540 - HUBERT-FOLIE',49.133333,-0.316667],
            ['14600 - HONFLEUR',49.416667,0.233333],
            ['14601 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14602 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14603 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14604 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14605 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14606 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14607 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14608 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14609 - HONFLEUR-CEDEX',49.416667,0.233333],
            ['14850 - HEROUVILLETTE',49.216667,-0.233333],
            ['14880 - HERMANVILLE-SUR-MER',49.283333,-0.316667],
            ['16200 - HOULETTE',45.766667,-0.2],
            ['16490 - HIESSE',46.05,0.583333],
            ['17160 - HAIMPS',45.866667,-0.25],
            ['17320 - HIERS-BROUAGE',45.85,-1.066667],
            ['18140 - HERRY',47.216667,2.95],
            ['18250 - HENRICHEMONT',47.3,2.533333],
            ['18250 - HUMBLIGNY',47.25,2.666667],
            ['19400 - HAUTEFAGE',45.083333,2.016667],
            ['21121 - HAUTEVILLE-LES-DIJON',47.366667,5],
            ['21150 - HAUTEROCHE',47.5,4.583333],
            ['21270 - HEUILLEY-SUR-SAONE',47.333333,5.45],
            ['22120 - HILLION',48.516667,-2.683333],
            ['22150 - HENON',48.383333,-2.7],
            ['22400 - HENANSAL',48.55,-2.433333],
            ['22450 - HENGOAT',48.75,-3.2],
            ['22550 - HENANBIHEN',48.566667,-2.366667],
            ['22600 - HEMONSTOIR',48.166667,-2.833333],
            ['24300 - HAUTEFAYE',45.533333,0.483333],
            ['24390 - HAUTEFORT',45.25,1.15],
            ['25110 - HYEVRE-MAGNY',47.366667,6.433333],
            ['25110 - HYEVRE-PAROISSE',47.366667,6.433333],
            ['25250 - HYEMONDANS',47.383333,6.65],
            ['25300 - HOUTAUD',46.916667,6.316667],
            ['25310 - HERIMONCOURT',47.433333,6.883333],
            ['25650 - HAUTERIVE-LA-FRESSE',46.966667,6.45],
            ['25680 - HUANNE-MONTMARTIN',47.433333,6.35],
            ['26390 - HAUTERIVES',45.25,5.033333],
            ['26730 - HOSTUN',45.033333,5.2],
            ['27110 - HECTOMARE',49.183333,0.95],
            ['27120 - HARDENCOURT-COCHEREL',49.05,1.316667],
            ['27120 - HECOURT',48.983333,1.416667],
            ['27120 - HOULBEC-COCHEREL',49.066667,1.366667],
            ['27150 - HACQUEVILLE',49.283333,1.55],
            ['27150 - HEBECOURT',49.35,1.716667],
            ['27230 - HEUDREVILLE-EN-LIEUVIN',49.2,0.5],
            ['27240 - HELLENVILLIERS',48.8,1.1],
            ['27310 - HONGUEMARE-GUENOUVILLE',49.366667,0.816667],
            ['27350 - HAUVILLE',49.4,0.766667],
            ['27400 - HEUDEBOUVILLE',49.2,1.25],
            ['27400 - HEUDREVILLE-SUR-EURE',49.15,1.183333],
            ['27400 - HONDOUVILLE',49.133333,1.116667],
            ['27400 - HOUETTEVILLE',49.133333,1.116667],
            ['27430 - HERQUEVILLE',49.25,1.266667],
            ['27440 - HOUVILLE-EN-VEXIN',49.3,1.35],
            ['27600 - HEUDEBOUVILLE',49.2,1.25],
            ['27630 - HARICOURT',49.116667,1.566667],
            ['27630 - HEUBECOURT',49.133333,1.566667],
            ['27700 - HARQUENCY',49.25,1.483333],
            ['27700 - HENNEZIS',49.183333,1.466667],
            ['27700 - HEUQUEVILLE',49.283333,1.333333],
            ['27800 - HARCOURT',49.166667,0.8],
            ['27800 - HECMANVILLE',49.166667,0.666667],
            ['27860 - HEUDICOURT',49.333333,1.666667],
            ['27930 - HUEST',49.033333,1.216667],
            ['28130 - HANCHES',48.6,1.65],
            ['28130 - HOUX',48.566667,1.616667],
            ['28410 - HAVELU',48.783333,1.533333],
            ['28480 - HAPPONVILLIERS',48.316667,1.116667],
            ['28700 - HOUVILLE-LA-BRANCHE',48.45,1.633333],
            ['29460 - HANVEC',48.333333,-4.166667],
            ['29460 - HOPITAL-CAMFROUT',48.333333,-4.233333],
            ['29670 - HENVIC',48.633333,-3.933333],
            ['29690 - HUELGOAT',48.366667,-3.75],
            ['31160 - HERRAN',42.966667,0.916667],
            ['31210 - HUOS',43.066667,0.6],
            ['31260 - HIS',43.066667,0.966667],
            ['32120 - HOMPS',43.816667,0.866667],
            ['32550 - HAULIES',43.566667,0.666667],
            ['32730 - HAGET',43.416667,0.166667],
            ['33125 - HOSTENS',44.5,-0.633333],
            ['33190 - HURE',44.55,0.016667],
            ['33550 - HAUX',44.733333,-0.383333],
            ['33990 - HOURTIN',45.2,-1.066667],
            ['34600 - HEREPIAN',43.6,3.116667],
            ['35120 - HIREL',48.6,-1.8],
            ['35630 - HEDE-BAZOUGES',48.3,-1.8],
            ['37340 - HOMMES',47.433333,0.3],
            ['37420 - HUISMES',47.233333,0.25],
            ['38118 - HIERES-SUR-AMBY',45.8,5.283333],
            ['38290 - HAUT-DE-BONCE',45.683333,5.116667],
            ['38320 - HERBEYS',45.133333,5.783333],
            ['38540 - HEYRIEUX',45.633333,5.05],
            ['38570 - HURTIERES',45.283333,5.966667],
            ['38750 - HUEZ',45.083333,6.05],
            ['39130 - HAUTECOUR',46.566667,5.766667],
            ['40150 - HOSSEGOR',43.666667,-1.45],
            ['40180 - HEUGAS',43.65,-1.083333],
            ['40180 - HINX',43.7,-0.933333],
            ['40190 - HONTANX',43.816667,-0.266667],
            ['40250 - HAURIET',43.716667,-0.7],
            ['40280 - HAUT-MAUCO',43.833333,-0.55],
            ['40290 - HABAS',43.566667,-0.933333],
            ['40300 - HASTINGUES',43.533333,-1.15],
            ['40310 - HERRE',44,-0.016667],
            ['40700 - HAGETMAU',43.666667,-0.583333],
            ['40700 - HORSARRIEU',43.683333,-0.6],
            ['40701 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40702 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40703 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40704 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40705 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40706 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40707 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40708 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40709 - HAGETMAU-CEDEX',43.666667,-0.583333],
            ['40990 - HERM',43.816667,-1.15],
            ['41190 - HERBAULT',47.6,1.133333],
            ['41310 - HUISSEAU-EN-BEAUCE',47.716667,1.016667],
            ['41350 - HUISSEAU-SUR-COSSON',47.6,1.45],
            ['41800 - HOUSSAY',47.75,0.933333],
            ['44115 - HAUTE-GOULAINE',47.2,-1.433333],
            ['44410 - HERBIGNAC',47.45,-2.316667],
            ['44610 - HAUTE-INDRE',47.2,-1.65],
            ['44810 - HERIC',47.416667,-1.65],
            ['45130 - HUISSEAU-SUR-MAUVES',47.9,1.7],
            ['45520 - HUETRE',48.016667,1.8],
            ['47340 - HAUTEFAGE-LA-TOUR',44.316667,0.8],
            ['47400 - HAUTESVIGNES',44.466667,0.35],
            ['47420 - HOUEILLES',44.2,0.033333],
            ['49430 - HUILLE',47.65,-0.3],
            ['50170 - HUISNES-SUR-MER',48.6,-1.45],
            ['50180 - HEBECREVON',49.133333,-1.166667],
            ['50200 - HEUGUEVILLE-SUR-SIENNE',49.033333,-1.516667],
            ['50250 - HOUTTEVILLE',49.333333,-1.366667],
            ['50320 - HOCQUIGNY',48.816667,-1.416667],
            ['50340 - HEAUVILLE',49.583333,-1.8],
            ['50340 - HELLEVILLE',49.55,-1.783333],
            ['50390 - HAUTTEVILLE-BOCAGE',49.433333,-1.466667],
            ['50440 - HERQUEVILLE',49.666667,-1.883333],
            ['50450 - HAMBYE',48.95,-1.266667],
            ['50480 - HIESVILLE',49.366667,-1.266667],
            ['50480 - HOUESVILLE',49.35,-1.283333],
            ['50510 - HUDIMESNIL',48.866667,-1.483333],
            ['50590 - HAUTEVILLE-SUR-MER',48.983333,-1.533333],
            ['50640 - HEUSSE',48.5,-0.9],
            ['50640 - HUSSON',48.566667,-0.883333],
            ['50660 - HERENGUERVILLE',48.983333,-1.5],
            ['50660 - HYENVILLE',49,-1.466667],
            ['50690 - HARDINVAST',49.583333,-1.65],
            ['50700 - HEMEVEZ',49.466667,-1.433333],
            ['50700 - HUBERVILLE',49.516667,-1.416667],
            ['50730 - HAMELIN',48.55,-1.216667],
            ['51140 - HOURGES',49.283333,3.766667],
            ['51160 - HAUTVILLERS',49.083333,3.95],
            ['51220 - HERMONVILLE',49.333333,3.9],
            ['51300 - HAUSSIGNEMONT',48.716667,4.75],
            ['51300 - HEILTZ-LE-HUTIER',48.683333,4.766667],
            ['51300 - HUIRON',48.7,4.533333],
            ['51320 - HAUSSIMONT',48.75,4.166667],
            ['51320 - HUMBAUVILLE',48.666667,4.416667],
            ['51340 - HEILTZ-LE-MAURUPT',48.8,4.816667],
            ['51340 - HEILTZ-L EVEQUE',48.783333,4.75],
            ['51460 - HERPONT',49,4.733333],
            ['51800 - HANS',49.116667,4.75],
            ['52100 - HALLIGNICOURT',48.65,4.866667],
            ['52150 - HACOURT',48.166667,5.566667],
            ['52150 - HARREVILLE-LES-CHANTEURS',48.266667,5.633333],
            ['52150 - HUILLIECOURT',48.166667,5.55],
            ['52230 - HARMEVILLE',48.45,5.35],
            ['52290 - HUMBECOURT',48.583333,4.9],
            ['52600 - HEUILLEY-COTTON',47.766667,5.366667],
            ['52600 - HEUILLEY-LE-GRAND',47.75,5.4],
            ['52600 - HORTES',47.833333,5.55],
            ['52700 - HUMBERVILLE',48.283333,5.383333],
            ['53120 - HERCE',48.416667,-0.85],
            ['53160 - HAMBERS',48.25,-0.416667],
            ['53360 - HOUSSAY',47.916667,-0.733333],
            ['53640 - HARDANGES',48.333333,-0.4],
            ['54110 - HARAUCOURT',48.666667,6.366667],
            ['54110 - HUDIVILLER',48.6,6.4],
            ['54120 - HABLAINVILLE',48.516667,6.733333],
            ['54180 - HEILLECOURT',48.65,6.2],
            ['54180 - HOUDEMONT',48.65,6.183333],
            ['54181 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54182 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54183 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54184 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54185 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54186 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54187 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54188 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54189 - HEILLECOURT-CEDEX',48.65,6.2],
            ['54290 - HAIGNEVILLE',48.483333,6.35],
            ['54290 - HAUSSONVILLE',48.533333,6.333333],
            ['54300 - HERIMENIL',48.566667,6.5],
            ['54310 - HOMECOURT',49.233333,5.983333],
            ['54311 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54312 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54313 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54314 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54315 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54316 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54317 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54318 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54319 - HOMECOURT-CEDEX',49.233333,5.983333],
            ['54330 - HAMMEVILLE',48.5,6.066667],
            ['54330 - HOUDELMONT',48.533333,6.083333],
            ['54330 - HOUDREVILLE',48.5,6.1],
            ['54370 - HENAMENIL',48.666667,6.566667],
            ['54370 - HOEVILLE',48.7,6.433333],
            ['54440 - HERSERANGE',49.516667,5.783333],
            ['54450 - HALLOVILLE',48.55,6.866667],
            ['54450 - HARBOUEY',48.566667,6.883333],
            ['54450 - HERBEVILLER',48.55,6.75],
            ['54470 - HAGEVILLE',49.033333,5.866667],
            ['54470 - HAMONVILLE',48.833333,5.816667],
            ['54590 - HUSSIGNY-GODBRANGE',49.483333,5.866667],
            ['54740 - HAROUE',48.466667,6.183333],
            ['54800 - HANNONVILLE-SUZEMONT',49.1,5.833333],
            ['54800 - HATRIZE',49.2,5.916667],
            ['54830 - HAUDONVILLE',48.5,6.5],
            ['54860 - HAUCOURT-MOULAINE',49.483333,5.8],
            ['54930 - HOUSSEVILLE',48.4,6.116667],
            ['55000 - HAIRONVILLE',48.683333,5.083333],
            ['55000 - HARGEVILLE-SUR-CHEE',48.85,5.183333],
            ['55100 - HAUDAINVILLE',49.116667,5.416667],
            ['55110 - HARAUMONT',49.35,5.266667],
            ['55130 - HORVILLE-EN-ORNOIS',48.5,5.466667],
            ['55130 - HOUDELAINCOURT',48.55,5.466667],
            ['55160 - HARVILLE',49.1,5.733333],
            ['55160 - HAUDIOMONT',49.116667,5.566667],
            ['55160 - HENNEMONT',49.133333,5.666667],
            ['55210 - HATTONCHATEL',48.983333,5.7],
            ['55210 - HATTONVILLE',48.983333,5.716667],
            ['55210 - HAUMONT-LES-LACHAUSSEE',49.016667,5.816667],
            ['55210 - HERBEUVILLE',49.05,5.633333],
            ['55210 - HEUDICOURT-SOUS-LES-COTES',48.933333,5.7],
            ['55220 - HEIPPES',49,5.3],
            ['55230 - HAUCOURT-LA-RIGOLE',49.316667,5.733333],
            ['55230 - HOUDELAUCOURT-SUR-OTHAIN',49.316667,5.683333],
            ['55290 - HEVILLIERS',48.6,5.333333],
            ['55300 - HAN-SUR-MEUSE',48.866667,5.533333],
            ['55400 - HAUTECOURT-LES-BROVILLE',49.2,5.566667],
            ['55400 - HERMEVILLE-EN-WOEVRE',49.183333,5.583333],
            ['55600 - HAN-LES-JUVIGNY',49.483333,5.333333],
            ['55700 - HALLES-SOUS-LES-COTES',49.45,5.116667],
            ['56120 - HELLEAN',47.966667,-2.466667],
            ['56170 - HOEDIC',47.333333,-2.883333],
            ['56700 - HENNEBONT',47.8,-3.283333],
            ['56701 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56702 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56703 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56704 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56705 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56706 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56707 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56708 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['56709 - HENNEBONT-CEDEX',47.8,-3.283333],
            ['57170 - HAMPONT',48.833333,6.583333],
            ['57220 - HALLING-LES-BOULAY',49.15,6.516667],
            ['57220 - HELSTROFF',49.15,6.483333],
            ['57220 - HINCKANGE',49.183333,6.45],
            ['57220 - HOLLING',49.266667,6.5],
            ['57230 - HANVILLER',49.1,7.466667],
            ['57230 - HASPELSCHIEDT',49.083333,7.483333],
            ['57280 - HAUCONCOURT',49.216667,6.183333],
            ['57300 - HAGONDANGE',49.25,6.166667],
            ['57301 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57302 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57303 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57304 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57305 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57306 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57307 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57308 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57309 - HAGONDANGE-CEDEX',49.25,6.166667],
            ['57320 - HEINING-LES-BOUZONVILLE',49.316667,6.583333],
            ['57320 - HESTROFF',49.266667,6.433333],
            ['57330 - HETTANGE-GRANDE',49.4,6.15],
            ['57340 - HABOUDANGE',48.883333,6.616667],
            ['57340 - HARPRICH',48.966667,6.65],
            ['57370 - HANGVILLER',48.816667,7.233333],
            ['57380 - HOLACOURT',48.966667,6.516667],
            ['57400 - HAUT-CLOCHER',48.75,7],
            ['57400 - HESSE',48.7,7.05],
            ['57400 - HILBESHEIM',48.766667,7.1],
            ['57405 - HOMMARTING',48.733333,7.15],
            ['57430 - HAZEMBOURG',48.966667,6.933333],
            ['57450 - HENRIVILLE',49.1,6.85],
            ['57470 - HOMBOURG-HAUT',49.133333,6.766667],
            ['57480 - HALSTROFF',49.4,6.483333],
            ['57480 - HAUTE-KONTZ',49.45,6.316667],
            ['57480 - HUNTING',49.416667,6.333333],
            ['57510 - HILSPRICH',49.016667,6.916667],
            ['57510 - HOLVING',49,6.95],
            ['57530 - HAYES',49.166667,6.366667],
            ['57550 - HARGARTEN-AUX-MINES',49.216667,6.6],
            ['57570 - HAGEN',49.5,6.166667],
            ['57580 - HAN-SUR-NIED',48.983333,6.433333],
            ['57580 - HERNY',49,6.483333],
            ['57590 - HANNOCOURT',48.9,6.466667],
            ['57630 - HARAUCOURT-SUR-SEILLE',48.8,6.6],
            ['57635 - HERANGE',48.766667,7.166667],
            ['57650 - HAVANGE',49.383333,6],
            ['57660 - HELLIMER',49,6.816667],
            ['57670 - HONSKIRCH',48.933333,6.983333],
            ['57690 - HALLERING',49.116667,6.55],
            ['57690 - HAUTE-VIGNEULLES',49.1,6.55],
            ['57690 - HEMILLY',49.066667,6.5],
            ['57700 - HAYANGE',49.333333,6.05],
            ['57701 - HAYANGE-CEDEX',49.333333,6.05],
            ['57702 - HAYANGE-CEDEX',49.333333,6.05],
            ['57703 - HAYANGE-CEDEX',49.333333,6.05],
            ['57704 - HAYANGE-CEDEX',49.333333,6.05],
            ['57705 - HAYANGE-CEDEX',49.333333,6.05],
            ['57706 - HAYANGE-CEDEX',49.333333,6.05],
            ['57707 - HAYANGE-CEDEX',49.333333,6.05],
            ['57708 - HAYANGE-CEDEX',49.333333,6.05],
            ['57709 - HAYANGE-CEDEX',49.333333,6.05],
            ['57720 - HOTTVILLER',49.066667,7.366667],
            ['57790 - HATTIGNY',48.633333,6.966667],
            ['57790 - HERMELANGE',48.683333,7.016667],
            ['57820 - HENRIDORFF',48.733333,7.216667],
            ['57820 - HULTEHOUSE',48.716667,7.266667],
            ['57830 - HEMING',48.7,6.95],
            ['57830 - HERTZING',48.683333,6.95],
            ['57850 - HASELBOURG',48.683333,7.2],
            ['57870 - HARREBERG',48.666667,7.166667],
            ['57870 - HARTZVILLER',48.666667,7.083333],
            ['57870 - HOMMERT',48.683333,7.183333],
            ['57880 - HAM-SOUS-VARSBERG',49.183333,6.633333],
            ['57910 - HAMBACH',49.066667,7.033333],
            ['57911 - HAMBACH-CEDEX',49.066667,7.033333],
            ['57912 - HAMBACH-CEDEX',49.066667,7.033333],
            ['57913 - HAMBACH-CEDEX',49.066667,7.033333],
            ['57914 - HAMBACH-CEDEX',49.066667,7.033333],
            ['57920 - HOMBOURG-BUDANGE',49.3,6.333333],
            ['57930 - HELLERING-LES-FENETRANGE',48.816667,7.066667],
            ['57990 - HUNDLING',49.1,6.983333],
            ['58800 - HERY',47.266667,3.583333],
            ['59111 - HORDAIN',50.266667,3.316667],
            ['59116 - HOUPLINES',50.7,2.916667],
            ['59121 - HAULCHIN',50.316667,3.433333],
            ['59122 - HONDSCHOOTE',50.983333,2.583333],
            ['59134 - HERLIES',50.566667,2.85],
            ['59138 - HARGNIES',50.25,3.85],
            ['59143 - HOLQUE',50.85,2.2],
            ['59147 - HERRIN',50.55,2.966667],
            ['59151 - HAMEL',50.283333,3.083333],
            ['59171 - HELESMES',50.366667,3.366667],
            ['59171 - HORNAING',50.366667,3.333333],
            ['59178 - HASNON',50.416667,3.383333],
            ['59190 - HAZEBROUCK',50.716667,2.533333],
            ['59190 - HONDEGHEM',50.766667,2.516667],
            ['59191 - HAUCOURT-EN-CAMBRESIS',50.1,3.35],
            ['59195 - HERIN',50.35,3.45],
            ['59198 - HASPRES',50.25,3.416667],
            ['59199 - HERGNIES',50.466667,3.516667],
            ['59247 - HEM-LENGLET',50.25,3.233333],
            ['59250 - HALLUIN',50.783333,3.133333],
            ['59255 - HAVELUY',50.35,3.4],
            ['59263 - HOUPLIN-ANCOISNE',50.566667,3],
            ['59268 - HAYNECOURT',50.216667,3.166667],
            ['59294 - HAUSSY',50.216667,3.483333],
            ['59320 - HAUBOURDIN',50.6,2.983333],
            ['59330 - HAUTMONT',50.25,3.933333],
            ['59431 - HALLUIN-CEDEX',50.783333,3.133333],
            ['59432 - HALLUIN-CEDEX',50.783333,3.133333],
            ['59433 - HALLUIN-CEDEX',50.783333,3.133333],
            ['59470 - HERZEELE',50.883333,2.533333],
            ['59470 - HOUTKERQUE',50.883333,2.6],
            ['59481 - HAUBOURDIN-CEDEX',50.6,2.983333],
            ['59482 - HAUBOURDIN-CEDEX',50.6,2.983333],
            ['59483 - HAUBOURDIN-CEDEX',50.6,2.983333],
            ['59492 - HOYMILLE',50.983333,2.45],
            ['59496 - HANTAY',50.533333,2.866667],
            ['59510 - HEM',50.65,3.2],
            ['59521 - HAZEBROUCK-CEDEX',50.716667,2.533333],
            ['59522 - HAZEBROUCK-CEDEX',50.716667,2.533333],
            ['59523 - HAZEBROUCK-CEDEX',50.716667,2.533333],
            ['59524 - HAZEBROUCK-CEDEX',50.716667,2.533333],
            ['59525 - HAZEBROUCK-CEDEX',50.716667,2.533333],
            ['59529 - HAZEBROUCK-CEDEX',50.716667,2.533333],
            ['59530 - HECQ',50.183333,3.633333],
            ['59570 - HON-HERGIES',50.333333,3.833333],
            ['59570 - HOUDAIN-LEZ-BAVAY',50.316667,3.783333],
            ['59660 - HAVERSKERQUE',50.633333,2.533333],
            ['59670 - HARDIFORT',50.816667,2.483333],
            ['59740 - HESTRUD',50.2,4.133333],
            ['59980 - HONNECHY',50.066667,3.45],
            ['60112 - HAUCOURT',49.516667,1.933333],
            ['60112 - HERCHIES',49.5,2.016667],
            ['60119 - HENONVILLE',49.2,2.05],
            ['60120 - HARDIVILLERS',49.616667,2.216667],
            ['60190 - HEMEVILLERS',49.466667,2.666667],
            ['60210 - HALLOY',49.65,1.933333],
            ['60210 - HAUTBOS',49.633333,1.866667],
            ['60240 - HARDIVILLERS-EN-VEXIN',49.3,1.933333],
            ['60250 - HEILLES',49.35,2.266667],
            ['60250 - HONDAINVILLE',49.35,2.3],
            ['60350 - HAUTEFONTAINE',49.366667,3.066667],
            ['60360 - HETOMESNIL',49.633333,2.033333],
            ['60370 - HERMES',49.366667,2.25],
            ['60380 - HECOURT',49.516667,1.766667],
            ['60380 - HERICOURT-SUR-THERAIN',49.583333,1.766667],
            ['60430 - HODENC-L EVEQUE',49.35,2.15],
            ['60490 - HAINVILLERS',49.591667,2.683333],
            ['60510 - HAUDIVILLERS',49.483333,2.25],
            ['60650 - HANNACHES',49.5,1.816667],
            ['60650 - HANVOILE',49.516667,1.883333],
            ['60650 - HODENC-EN-BRAY',49.483333,1.9],
            ['60690 - HAUTE-EPINE',49.583333,2],
            ['60710 - HOUDANCOURT',49.35,2.65],
            ['61210 - HABLOVILLE',48.783333,-0.166667],
            ['61250 - HAUTERIVE',48.483333,0.2],
            ['61250 - HELOUP',48.4,0.033333],
            ['61410 - HALEINE',48.516667,-0.433333],
            ['61470 - HEUGON',48.85,0.4],
            ['62090 - HAISNES-CEDEX',50.516667,2.8],
            ['62091 - HAISNES-CEDEX',50.516667,2.8],
            ['62092 - HAISNES-CEDEX',50.516667,2.8],
            ['62093 - HAISNES-CEDEX',50.516667,2.8],
            ['62110 - HENIN-BEAUMONT',50.416667,2.933333],
            ['62111 - HANNESCAMPS',50.166667,2.633333],
            ['62111 - HEBUTERNE',50.116667,2.633333],
            ['62118 - HAMBLAIN-LES-PRES',50.3,2.966667],
            ['62121 - HAMELINCOURT',50.183333,2.816667],
            ['62123 - HABARCQ',50.3,2.616667],
            ['62124 - HAPLINCOURT',50.083333,2.933333],
            ['62128 - HENINEL',50.233333,2.866667],
            ['62128 - HENIN-SUR-COJEUL',50.233333,2.833333],
            ['62129 - HERBELLES',50.65,2.216667],
            ['62130 - HAUTECLOQUE',50.333333,2.3],
            ['62130 - HERICOURT',50.35,2.25],
            ['62130 - HERLINCOURT',50.35,2.3],
            ['62130 - HERLIN-LE-SEC',50.35,2.333333],
            ['62130 - HERNICOURT',50.4,2.3],
            ['62130 - HUCLIER',50.433333,2.35],
            ['62130 - HUMEROEUILLE',50.4,2.216667],
            ['62130 - HUMIERES',50.383333,2.2],
            ['62132 - HARDINGHEN',50.8,1.816667],
            ['62132 - HERMELINGHEN',50.8,1.85],
            ['62134 - HEUCHIN',50.466667,2.266667],
            ['62138 - HAISNES',50.516667,2.8],
            ['62139 - HAISNES-CEDEX',50.516667,2.8],
            ['62140 - HESDIN',50.366667,2.033333],
            ['62140 - HUBY-ST-LEU',50.383333,2.033333],
            ['62142 - HENNEVEUX',50.716667,1.85],
            ['62144 - HAUTE-AVESNES',50.333333,2.633333],
            ['62147 - HAVRINCOURT',50.116667,3.083333],
            ['62147 - HERMIES',50.116667,3.033333],
            ['62150 - HERMIN',50.416667,2.55],
            ['62150 - HOUDAIN',50.45,2.533333],
            ['62152 - HARDELOT-PLAGE',50.633333,1.583333],
            ['62156 - HAUCOURT',50.25,2.95],
            ['62158 - HUMBERCAMPS',50.183333,2.583333],
            ['62175 - HENDECOURT-LES-RANSART',50.2,2.733333],
            ['62179 - HERVELINGHEN',50.883333,1.716667],
            ['62182 - HENDECOURT-LES-CAGNICOURT',50.216667,2.95],
            ['62190 - HAM-EN-ARTOIS',50.583333,2.466667],
            ['62196 - HESDIGNEUL-LES-BETHUNE',50.5,2.6],
            ['62232 - HINGES',50.566667,2.616667],
            ['62251 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62252 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62253 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62254 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62255 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62256 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62257 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62258 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62259 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62270 - HAUTECOTE',50.3,2.283333],
            ['62270 - HOUVIN-HOUVIGNEUL',50.3,2.383333],
            ['62310 - HEZECQUES',50.533333,2.183333],
            ['62340 - HAMES-BOUCRES',50.883333,1.85],
            ['62360 - HESDIGNEUL-LES-BOULOGNE',50.65,1.666667],
            ['62360 - HESDIN-L ABBE',50.666667,1.683333],
            ['62390 - HARAVESNES',50.283333,2.133333],
            ['62390 - HAUT-MAINIL',50.3,2.116667],
            ['62410 - HULLUCH',50.483333,2.816667],
            ['62440 - HARNES',50.45,2.9],
            ['62530 - HERSIN-COUPIGNY',50.45,2.65],
            ['62550 - HESTRUS',50.45,2.333333],
            ['62570 - HALLINES',50.716667,2.216667],
            ['62570 - HELFAUT',50.7,2.25],
            ['62575 - HEURINGHEM',50.7,2.283333],
            ['62620 - HOUCHIN',50.483333,2.616667],
            ['62630 - HUBERSENT',50.583333,1.733333],
            ['62650 - HERLY',50.55,1.983333],
            ['62650 - HUCQUELIERS',50.566667,1.9],
            ['62650 - HUMBERT',50.5,1.9],
            ['62690 - HERMAVILLE',50.316667,2.583333],
            ['62760 - HALLOY',50.166667,2.416667],
            ['62760 - HENU',50.15,2.533333],
            ['62810 - HAUTEVILLE',50.266667,2.566667],
            ['62830 - HALINGHEN',50.6,1.7],
            ['62850 - HERBINGHEN',50.766667,1.916667],
            ['62850 - HOCQUINGHEN',50.766667,1.933333],
            ['62910 - HOULLE',50.8,2.166667],
            ['62940 - HAILLICOURT',50.466667,2.583333],
            ['62951 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62952 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62953 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62954 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62955 - HENIN-BEAUMONT-CEDEX',50.416667,2.933333],
            ['62990 - HESMOND',50.45,1.95],
            ['63210 - HEUME-L EGLISE',45.716667,2.733333],
            ['63470 - HERMENT',45.75,2.566667],
            ['64120 - HOSTA',43.15,-1.083333],
            ['64160 - HIGUERES-SOUYE',43.383333,-0.266667],
            ['64240 - HASPARREN',43.383333,-1.3],
            ['64370 - HAGETAUBIN',43.516667,-0.616667],
            ['64420 - HOURS',43.233333,-0.166667],
            ['64470 - HAUX',43.083333,-0.85],
            ['64480 - HALSOU',43.366667,-1.416667],
            ['64640 - HELETTE',43.3,-1.233333],
            ['64680 - HERRERE',43.166667,-0.533333],
            ['64700 - HENDAYE',43.358333,-1.775],
            ['64701 - HENDAYE-CEDEX',43.358333,-1.775],
            ['64702 - HENDAYE-CEDEX',43.358333,-1.775],
            ['64703 - HENDAYE-CEDEX',43.358333,-1.775],
            ['64704 - HENDAYE-CEDEX',43.358333,-1.775],
            ['64705 - HENDAYE-CEDEX',43.358333,-1.775],
            ['64800 - HAUT-DE-BOSDARROS',43.183333,-0.316667],
            ['65150 - HAUTAGET',43.05,0.466667],
            ['65190 - HITTE',43.15,0.166667],
            ['65200 - HAUBAN',43.1,0.166667],
            ['65200 - HIIS',43.133333,0.1],
            ['65230 - HACHAN',43.283333,0.45],
            ['65250 - HECHES',43.016667,0.366667],
            ['65310 - HORGUES',43.2,0.083333],
            ['65330 - HOUEYDETS',43.166667,0.35],
            ['65350 - HOURC',43.25,0.166667],
            ['65380 - HIBARETTE',43.166667,0.033333],
            ['65700 - HAGEDET',43.516667,-0.033333],
            ['67117 - HANDSCHUHEIM',48.6,7.583333],
            ['67117 - HURTIGHEIM',48.616667,7.616667],
            ['67130 - HERSBACH',48.5,7.25],
            ['67140 - HEILIGENSTEIN',48.416667,7.45],
            ['67150 - HINDISHEIM',48.466667,7.633333],
            ['67150 - HIPSHEIM',48.466667,7.683333],
            ['67170 - HOCHSTETT',48.783333,7.683333],
            ['67170 - HOHATZENHEIM',48.716667,7.616667],
            ['67190 - HEILIGENBERG',48.533333,7.4],
            ['67230 - HERBSHEIM',48.35,7.633333],
            ['67230 - HUTTENHEIM',48.35,7.583333],
            ['67250 - HERMERSWILLER',48.933333,7.916667],
            ['67250 - HOFFEN',48.933333,7.95],
            ['67250 - HOHWILLER',48.916667,7.9],
            ['67250 - HUNSPACH',48.95,7.95],
            ['67260 - HARSKIRCHEN',48.916667,7.016667],
            ['67260 - HERBITZHEIM',49.016667,7.083333],
            ['67260 - HINSINGEN',48.95,7],
            ['67270 - HOCHFELDEN',48.75,7.566667],
            ['67270 - HOHFRANKENHEIM',48.733333,7.583333],
            ['67270 - HUTTENDORF',48.8,7.633333],
            ['67290 - HINSBOURG',48.9,7.283333],
            ['67310 - HOHENGOEFT',48.666667,7.483333],
            ['67320 - HIRSCHLAND',48.833333,7.116667],
            ['67330 - HATTMATT',48.783333,7.416667],
            ['67360 - HEGENEY',48.883333,7.733333],
            ['67390 - HEIDOLSHEIM',48.2,7.516667],
            ['67390 - HESSENHEIM',48.2,7.55],
            ['67440 - HENGWILLER',48.666667,7.333333],
            ['67500 - HAGUENAU',48.816667,7.783333],
            ['67501 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67502 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67503 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67504 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67505 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67506 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67507 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67508 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67509 - HAGUENAU-CEDEX',48.816667,7.783333],
            ['67600 - HILSENHEIM',48.283333,7.566667],
            ['67690 - HATTEN',48.9,7.983333],
            ['67700 - HAEGEN',48.716667,7.333333],
            ['67720 - HOERDT',48.7,7.783333],
            ['67721 - HOERDT-CEDEX',48.7,7.783333],
            ['67722 - HOERDT-CEDEX',48.7,7.783333],
            ['67723 - HOERDT-CEDEX',48.7,7.783333],
            ['67724 - HOERDT-CEDEX',48.7,7.783333],
            ['67725 - HOERDT-CEDEX',48.7,7.783333],
            ['67726 - HOERDT-CEDEX',48.7,7.783333],
            ['67727 - HOERDT-CEDEX',48.7,7.783333],
            ['67728 - HOERDT-CEDEX',48.7,7.783333],
            ['67729 - HOERDT-CEDEX',48.7,7.783333],
            ['67741 - HOERDT-CEDEX',48.7,7.783333],
            ['67742 - HOERDT-CEDEX',48.7,7.783333],
            ['67761 - HOERDT-CEDEX',48.7,7.783333],
            ['67800 - HOENHEIM',48.616667,7.75],
            ['67810 - HOLTZHEIM',48.55,7.633333],
            ['67850 - HERRLISHEIM',48.733333,7.9],
            ['67980 - HANGENBIETEN',48.566667,7.6],
            ['68118 - HIRTZBACH',47.6,7.216667],
            ['68125 - HOUSSEN',48.116667,7.383333],
            ['68130 - HAUSGAUEN',47.6,7.333333],
            ['68130 - HEIWILLER',47.616667,7.316667],
            ['68130 - HUNDSBACH',47.6,7.333333],
            ['68140 - HOHROD',48.05,7.133333],
            ['68150 - HUNAWIHR',48.166667,7.316667],
            ['68210 - HAGENBACH',47.65,7.166667],
            ['68210 - HECKEN',47.683333,7.133333],
            ['68220 - HAGENTHAL-LE-BAS',47.516667,7.466667],
            ['68220 - HAGENTHAL-LE-HAUT',47.516667,7.466667],
            ['68220 - HEGENHEIM',47.566667,7.533333],
            ['68220 - HESINGUE',47.583333,7.516667],
            ['68221 - HEGENHEIM-CEDEX',47.566667,7.533333],
            ['68222 - HEGENHEIM-CEDEX',47.566667,7.533333],
            ['68223 - HEGENHEIM-CEDEX',47.566667,7.533333],
            ['68224 - HEGENHEIM-CEDEX',47.566667,7.533333],
            ['68225 - HEGENHEIM-CEDEX',47.566667,7.533333],
            ['68320 - HOLTZWIHR',48.116667,7.416667],
            ['68330 - HUNINGUE',47.6,7.583333],
            ['68331 - HUNINGUE-CEDEX',47.6,7.583333],
            ['68332 - HUNINGUE-CEDEX',47.6,7.583333],
            ['68333 - HUNINGUE-CEDEX',47.6,7.583333],
            ['68420 - HATTSTATT',48.016667,7.3],
            ['68420 - HERRLISHEIM-PRES-COLMAR',48.016667,7.316667],
            ['68420 - HUSSEREN-LES-CHATEAUX',48.033333,7.283333],
            ['68440 - HABSHEIM',47.733333,7.416667],
            ['68470 - HUSSEREN-WESSERLING',47.883333,6.983333],
            ['68490 - HOMBOURG',47.766667,7.5],
            ['68500 - HARTMANNSWILLER',47.866667,7.216667],
            ['68510 - HELFRANTZKIRCH',47.6,7.416667],
            ['68560 - HEIMERSDORF',47.566667,7.25],
            ['68560 - HIRSINGUE',47.583333,7.25],
            ['68580 - HINDLINGEN',47.566667,7.133333],
            ['68600 - HEITEREN',47.966667,7.533333],
            ['68600 - HETTENSCHLAG',48,7.45],
            ['68720 - HEIDWILLER',47.666667,7.25],
            ['68720 - HOCHSTATT',47.716667,7.283333],
            ['68740 - HIRTZFELDEN',47.916667,7.45],
            ['68960 - HENFLINGEN',47.566667,7.3],
            ['68990 - HEIMSBRUNN',47.733333,7.233333],
            ['69610 - HAUTE-RIVOIRE',45.716667,4.4],
            ['70150 - HUGIER',47.316667,5.716667],
            ['70190 - HYET',47.483333,6.083333],
            ['70210 - HURECOURT',47.9,6.066667],
            ['70400 - HERICOURT',47.583333,6.75],
            ['70800 - HAUTEVELLE',47.85,6.283333],
            ['71870 - HURIGNY',46.35,4.8],
            ['73300 - HERMILLON',45.3,6.366667],
            ['73390 - HAUTEVILLE',45.533333,6.166667],
            ['73600 - HAUTECOUR',45.5,6.55],
            ['73620 - HAUTELUCE',45.75,6.583333],
            ['73700 - HAUTEVILLE-GONDON',45.583333,6.75],
            ['74150 - HAUTEVILLE-SUR-FIER',45.9,5.983333],
            ['74420 - HABERE-LULLIN',46.233333,6.466667],
            ['74420 - HABERE-POCHE',46.25,6.483333],
            ['74540 - HERY-SUR-ALBY',45.8,6],
            ['76110 - HOUQUETOT',49.608333,0.391667],
            ['76113 - HAUTOT-SUR-SEINE',49.366667,0.983333],
            ['76190 - HAUTOT-LE-VATOIS',49.65,0.683333],
            ['76190 - HAUTOT-ST-SULPICE',49.683333,0.75],
            ['76280 - HERMEVILLE',49.6,0.266667],
            ['76340 - HODENG-AU-BOSC',49.866667,1.716667],
            ['76390 - HAUDRICOURT',49.733333,1.7],
            ['76440 - HAUCOURT',49.633333,1.666667],
            ['76440 - HAUSSEZ',49.583333,1.666667],
            ['76450 - HAUTOT-L AUVRAY',49.766667,0.75],
            ['76550 - HAUTOT-SUR-MER',49.9,1.033333],
            ['76560 - HARCANVILLE',49.716667,0.716667],
            ['76560 - HERICOURT-EN-CAUX',49.7,0.7],
            ['76570 - HUGLEVILLE-EN-CAUX',49.633333,0.983333],
            ['76640 - HATTENVILLE',49.65,0.533333],
            ['76700 - HARFLEUR',49.5,0.2],
            ['76720 - HEUGLEVILLE-SUR-SCIE',49.733333,1.1],
            ['76730 - HERMANVILLE',49.816667,0.983333],
            ['76740 - HEBERVILLE',49.766667,0.8],
            ['76740 - HOUDETOT',49.816667,0.8],
            ['76750 - HERONCHELLES',49.533333,1.383333],
            ['76770 - HOUPPEVILLE',49.516667,1.083333],
            ['76780 - HODENG-HODENGER',49.533333,1.566667],
            ['76840 - HENOUVILLE',49.483333,0.966667],
            ['76940 - HEURTEAUVILLE',49.45,0.816667],
            ['77114 - HERME',48.483333,3.333333],
            ['77510 - HONDEVILLIERS',48.9,3.316667],
            ['77515 - HAUTEFEUILLE',48.766667,2.966667],
            ['77850 - HERICY',48.45,2.766667],
            ['78250 - HARDRICOURT',49,1.9],
            ['78550 - HOUDAN',48.783333,1.6],
            ['78580 - HERBEVILLE',48.9,1.883333],
            ['78790 - HARGEVILLE',48.9,1.733333],
            ['78800 - HOUILLES',48.916667,2.2],
            ['78801 - HOUILLES-CEDEX',48.916667,2.2],
            ['78802 - HOUILLES-CEDEX',48.916667,2.2],
            ['78803 - HOUILLES-CEDEX',48.916667,2.2],
            ['78804 - HOUILLES-CEDEX',48.916667,2.2],
            ['78805 - HOUILLES-CEDEX',48.916667,2.2],
            ['78806 - HOUILLES-CEDEX',48.916667,2.2],
            ['78807 - HOUILLES-CEDEX',48.916667,2.2],
            ['78808 - HOUILLES-CEDEX',48.916667,2.2],
            ['78809 - HOUILLES-CEDEX',48.916667,2.2],
            ['79110 - HANC',46.083333,-0.016667],
            ['80110 - HANGARD',49.816667,2.516667],
            ['80122 - HEUDICOURT',50.016667,3.083333],
            ['80131 - HARBONNIERES',49.85,2.666667],
            ['80132 - HAUTVILLERS-OUVILLE',50.166667,1.816667],
            ['80132 - HUCHENNEVILLE',50.05,1.8],
            ['80134 - HANGEST-EN-SANTERRE',49.75,2.6],
            ['80140 - HUPPY',50.016667,1.766667],
            ['80190 - HERLY',49.75,2.883333],
            ['80200 - HERBECOURT',49.916667,2.85],
            ['80240 - HANCOURT',49.9,3.066667],
            ['80240 - HERVILLY',49.933333,3.116667],
            ['80240 - HESBECOURT',49.933333,3.133333],
            ['80250 - HALLIVILLERS',49.7,2.283333],
            ['80260 - HERISSART',50.016667,2.416667],
            ['80270 - HEUCOURT-CROQUOISON',49.933333,1.85],
            ['80300 - HENENCOURT',50,2.566667],
            ['80310 - HANGEST-SUR-SOMME',49.983333,2.066667],
            ['80320 - HALLU',49.783333,2.8],
            ['80320 - HYENCOURT-LE-GRAND',49.816667,2.833333],
            ['80340 - HERLEVILLE',49.85,2.75],
            ['80360 - HARDECOURT-AUX-BOIS',49.983333,2.816667],
            ['80360 - HEM-MONACU',49.966667,2.833333],
            ['80370 - HEUZECOURT',50.166667,2.166667],
            ['80370 - HIERMONT',50.2,2.083333],
            ['80400 - HAM',49.75,3.066667],
            ['80400 - HOMBLEUX',49.733333,2.983333],
            ['80440 - HAILLES',49.8,2.433333],
            ['80490 - HALLENCOURT',49.983333,1.883333],
            ['80490 - HOCQUINCOURT',50,1.85],
            ['80500 - HARGICOURT',49.716667,2.533333],
            ['80560 - HARPONVILLE',50.033333,2.516667],
            ['80560 - HEDAUVILLE',50.05,2.566667],
            ['80600 - HEM-HARDINVAL',50.166667,2.3],
            ['80600 - HUMBERCOURT',50.2,2.466667],
            ['80670 - HALLOY-LES-PERNOIS',50.05,2.2],
            ['80670 - HAVERNAS',50.033333,2.233333],
            ['80680 - HEBECOURT',49.8,2.25],
            ['80700 - HATTENCOURT',49.766667,2.783333],
            ['80800 - HAMELET',49.9,2.533333],
            ['80800 - HEILLY',49.95,2.533333],
            ['83400 - HYERES',43.116667,6.116667],
            ['83401 - HYERES-CEDEX',43.116667,6.116667],
            ['83402 - HYERES-CEDEX',43.116667,6.116667],
            ['83403 - HYERES-CEDEX',43.116667,6.116667],
            ['83404 - HYERES-CEDEX',43.116667,6.116667],
            ['83405 - HYERES-CEDEX',43.116667,6.116667],
            ['83406 - HYERES-CEDEX',43.116667,6.116667],
            ['83407 - HYERES-CEDEX',43.116667,6.116667],
            ['83408 - HYERES-CEDEX',43.116667,6.116667],
            ['83409 - HYERES-CEDEX',43.116667,6.116667],
            ['83410 - HYERES-CEDEX',43.116667,6.116667],
            ['83411 - HYERES-CEDEX',43.116667,6.116667],
            ['83412 - HYERES-CEDEX',43.116667,6.116667],
            ['83413 - HYERES-CEDEX',43.116667,6.116667],
            ['83414 - HYERES-CEDEX',43.116667,6.116667],
            ['83415 - HYERES-CEDEX',43.116667,6.116667],
            ['83416 - HYERES-CEDEX',43.116667,6.116667],
            ['83417 - HYERES-CEDEX',43.116667,6.116667],
            ['83418 - HYERES-CEDEX',43.116667,6.116667],
            ['83419 - HYERES-CEDEX',43.116667,6.116667],
            ['86310 - HAIMS',46.5,0.916667],
            ['88130 - HERGUGNEY',48.383333,6.2],
            ['88170 - HOUECOURT',48.3,5.9],
            ['88210 - HURBACHE',48.35,6.933333],
            ['88220 - HADOL',48.083333,6.483333],
            ['88240 - HARSAULT',48.066667,6.233333],
            ['88240 - HAUTMOUGEY',48.033333,6.233333],
            ['88260 - HENNEZEL',48.05,6.116667],
            ['88270 - HAGECOURT',48.233333,6.15],
            ['88270 - HAROL',48.15,6.25],
            ['88270 - HENNECOURT',48.216667,6.283333],
            ['88300 - HARCHECHAMP',48.383333,5.783333],
            ['88300 - HARMONVILLE',48.483333,5.866667],
            ['88300 - HOUEVILLE',48.366667,5.816667],
            ['88330 - HADIGNY-LES-VERRIERES',48.316667,6.466667],
            ['88330 - HAILLAINVILLE',48.4,6.483333],
            ['88500 - HYMONT',48.266667,6.15],
            ['88600 - HERPELMONT',48.166667,6.733333],
            ['88700 - HARDANCOURT',48.383333,6.566667],
            ['88700 - HOUSSERAS',48.316667,6.716667],
            ['88800 - HAREVILLE',48.2,6],
            ['89250 - HAUTERIVE',47.933333,3.6],
            ['89550 - HERY',47.9,3.633333],
            ['95220 - HERBLAY',49,2.166667],
            ['95221 - HERBLAY-CEDEX',49,2.166667],
            ['95222 - HERBLAY-CEDEX',49,2.166667],
            ['95223 - HERBLAY-CEDEX',49,2.166667],
            ['95224 - HERBLAY-CEDEX',49,2.166667],
            ['95225 - HERBLAY-CEDEX',49,2.166667],
            ['95226 - HERBLAY-CEDEX',49,2.166667],
            ['95227 - HERBLAY-CEDEX',49,2.166667],
            ['95228 - HERBLAY-CEDEX',49,2.166667],
            ['95229 - HERBLAY-CEDEX',49,2.166667],
            ['95300 - HEROUVILLE',49.1,2.133333],
            ['95371 - HERBLAY-CEDEX',49,2.166667],
            ['95372 - HERBLAY-CEDEX',49,2.166667],
            ['95373 - HERBLAY-CEDEX',49,2.166667],
            ['95374 - HERBLAY-CEDEX',49,2.166667],
            ['95375 - HERBLAY-CEDEX',49,2.166667],
            ['95376 - HERBLAY-CEDEX',49,2.166667],
            ['95377 - HERBLAY-CEDEX',49,2.166667],
            ['95378 - HERBLAY-CEDEX',49,2.166667],
            ['95379 - HERBLAY-CEDEX',49,2.166667],
            ['95420 - HODENT',49.15,1.766667],
            ['95481 - HERBLAY-CEDEX',49,2.166667],
            ['95482 - HERBLAY-CEDEX',49,2.166667],
            ['95483 - HERBLAY-CEDEX',49,2.166667],
            ['95484 - HERBLAY-CEDEX',49,2.166667],
            ['95485 - HERBLAY-CEDEX',49,2.166667],
            ['95486 - HERBLAY-CEDEX',49,2.166667],
            ['95487 - HERBLAY-CEDEX',49,2.166667],
            ['95488 - HERBLAY-CEDEX',49,2.166667],
            ['95489 - HERBLAY-CEDEX',49,2.166667],
            ['95640 - HARAVILLIERS',49.183333,2.05],
            ['95690 - HEDOUVILLE',49.15,2.166667],
            ['95780 - HAUTE-ISLE',49.083333,1.666667]
        ];
    }

    var cities = getCities();
    var markers = [];
    for (var i = 0; i < cities.length; i++) {
        var markerOptions = {
            position: new google.maps.LatLng(cities[i][1], cities[i][2]),
            title: cities[i][0],
            city: cities[i]
        };
        var marker = new google.maps.Marker(markerOptions);
        markers.push(marker);
        oms.addMarker(marker);
    }

    var markerClusterer = new MarkerClusterer(map, markers, {
        maxZoom: 9, // maxZoom set when clustering will stop
        imagePath: 'https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/images/m'
    });

    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < markers.length; ++i) {
        bounds.extend(this.markers[i].position);
    }
    map.fitBounds(bounds);

    var infoWindow = new google.maps.InfoWindow();
    oms.addListener('click', function(marker, event) {
        infoWindow.setContent(marker.city[0] + ", " + marker.city[1] + ", " + marker.city[2]);
        infoWindow.open(map, marker);
    });

    google.maps.event.addListener(markerClusterer, 'clusterclick', function(cluster) {
        map.fitBounds(cluster.getBounds());
        if (map.getZoom() > 14) {
            map.setZoom(14);
        }
    });
</script>